@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}
<h1>Detalles de las Mascotas</h1>

<div>
    Id: @Model.mascota.Id
</div>
<div>
    Nombre : @Model.mascota.Nombre
</div>
<div>
    Color : @Model.mascota.Color
</div>
<div>
    Especie: @Model.mascota.Especie
</div>
<div>
    Raza: @Model.mascota.Raza
</div>
<a asp-page="./ListaMascotas" class ="btn-default">Lista de Mascotas </a>