@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVeterinariosModel
@{
}
<h1>Detalles del Veterinario</h1>

<div>
    Id: @Model.veterinario.Id
</div>
<div>
    Nombre : @Model.veterinario.Nombres
</div>
<div>
    Apellido : @Model.veterinario.Apellidos
</div>
<div>
    Direccion: @Model.veterinario.Direccion
</div>
<div>
    Telefono: @Model.veterinario.Telefono
</div>
<div>
    Tarjeta Profesional @Model.veterinario.TarjetaProfesional
</div>
<a asp-page="./ListaVeterinarios" class ="btn-default">Lista de Veterinarios </a>